body {margin: 0; padding: 0; overflow: hidden;}
h1 {
  text-align: center;
}
.tooltip {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
}
.map {
    position: absolute;
    left: calc(50% - 480px);
    top: calc(50% - 300px);
    background-color: #c8c8c8;
    overflow: hidden;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    background-color: #c8c8c8;
    z-index: 999;
    position: absolute;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: absolute;
    left: calc(50% - 5em);
    top: calc(50% - 11em);
    text-indent: -9999em;
    border-top: 1.1em solid rgba(251,43,43, 0.2);
    border-right: 1.1em solid rgba(251,43,43, 0.2);
    border-bottom: 1.1em solid rgba(251,43,43, 0.2);
    border-left: 1.1em solid #fb2b2b;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.overlays canvas {
    mix-blend-mode: multiply;
}
